<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Mesa</title>
  <link rel="stylesheet" href="/CSS/Cadastro.css">
</head>
<body>

  <h1>Cadastrar Mesa</h1>

<form action="/mesa/cadastromesa" method="post">

  <label for="numeroMesa">Número da Mesa:</label>
  <input type="number" id="numeroMesa" name="numeroMesa" required>

  <label for="quantidadeAcentos">Quantidade de Assentos:</label>
  <input type="number" id="quantidadeAcentos" name="quantidadeAcentos" required>

  <button type="submit">Cadastrar</button>
  <a href="/">Página Inicial</a><br>

</form>

</body>
</html>
